/*  Geral  */
*, *:before, *:after {
  box-sizing: inherit;
  box-sizing: inherit;
}

#background-img.active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('../img/milos.gif') ;
  background-size: cover;
}

html {
  box-sizing: border-box;
}

body, p, ul, li, h2, h1, a {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
header {
  text-align: center;
  font-size: 2em;
  padding-top: 1.5em;
}

/* Array Indexes */
#arrayIndexes {
  position: absolute;
  color: #000;
  text-align: center;
  font-size: 1em;
  left: 50%;
  top: 40%;
  margin-top: -80px;
}

#arrayIndexes li {
  display: inline-block;
  position: absolute;
  background: #fff;
  width: 60px;
  height: 15px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Array */
#array {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1.875em;
  left: 50%;
  top: 40%;
  margin-top: -60px;
}

#array li {
  display: inline-block;
  position: absolute;
  background: #000;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  padding-top: 13px;
  margin-right: 10px;
  transition: .25s ease;
}

#array li.active {
  background-color: red;
}

/* Button */
.btn {
  height: 35px;
  min-width: 80px;
  border-radius: 5px;
  background: #000;
  border: none;
  text-align: center;
  font-size: .675em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  margin-right: 6px;
  padding: 12px 10px;
}

.btn:hover {
  background: red;
}

#btnSlide {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
}

/* Container */
.container {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -380px;
}

.container > select {
  margin-right: 40px;
  border: 2px solid #000;
  border-radius: 5px;
}

.container > .btn:disabled {
  cursor: default;
  color: #ddd;
  background: #555;
}

.container > .btn:nth-child(3)::after {
  content: '(s)';
  display: block;
  color: #000;
  font-size: 10px;
  margin-top: 15px;
}

.container > .btn:nth-child(4)::after {
  content: '(space)';
  display: block;
  color: #000;
  font-size: 10px;
  margin-top: 15px;
}

.container > .btn:nth-child(5)::after {
  content: '(esc)';
  display: block;
  color: #000;
  font-size: 10px;
  margin-top: 15px;
}

.container > .btn:nth-child(6) {
  margin-left: 40px;
}

#c-secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -350px;
}

#c-secondary > input {
  text-align: center;
  border-radius: 6px;
  border-color: #000;
  width: 150px;
  height: 35px;
}

/* Useful Information Area */
#usefulInformations {
  text-align: center;
  position: absolute;
  top: 46%;
  left: 50%;
  margin-left: -166px;
}

#usefulInformations span#numbersComparison {
  display: block;
  height: 68px;
  margin-bottom: 10px;
  font-size: 1.875em;
  font-weight: bold;
}

#usefulInformations span {
  font-size: 1.5em;
}

#usefulInformations span#gap {
  margin-right: 50px;
}

#usefulInformations label {
  font-size: 1.5em;
}

/* Slide */
#slider {
  width: 100%;
  background: #fff;
  z-index: 20;
  position: absolute;
  top: 0;
  color: #1d1d1d;
  display: none;
}

#slider.active {
  display: block;
}

.slide {
  min-height: 100vh;
  padding-top: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: calc(100vh / 4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 40px;
}

.title::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: #1d1d1d;
  margin: 10px auto;
}

.slide .arrays {
  float: left;
}

.info {
  overflow: auto;
  padding-left: 50px;
  width: 350px;
}

.info li {
  margin-bottom: 50px;
}

.info li h3 {
  margin: 15px 0 0 0;
}

.info.complexity {
  width: 100%;
  text-align: center;
}

.info.complexity img {
  margin: 0 auto;
}

.info.complexity li {
  display: inline-block;
  width: 500px;
}

.info.complexity p {
 font-size: 1em;
}

.slide p {
  font-size: 1.875em;
  line-height: 1.5em;
  text-align: center;
  padding: 0 1.875em;
}

.slide .arrays .index {
  color: #1d1d1d;
  text-align: center;
  font-size: 1em;
}

.slide .arrays .index li {
  display: inline-block;
  width: 50px;
  height: 15px;
  margin-right: 10px;
}

.slide .array {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.slide .array li {
  display: inline-block;
  background: #1d1d1d;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding-top: 15px;
  margin-right: 10px;
}

.slide .array li.active {
  background: red;
}

.slide .code pre {
  background: #293134;
  color: #fff;
  border-radius: 4px;
  width: 800px;
  height: 350px;
  padding-top: 15px;
  margin: 0 auto;
}

.slide .code pre .reservedWord {
  color: rgb(103, 140, 177);
}

.slide.conclusion dl {
  margin: 40px 0 40px 60px;
}

.slide.conclusion dt {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.slide.conclusion dd {
  font-size: 1.5em;
  margin-bottom: 10px;
}
